<!DOCTYPE html>
<html lang="en">

<%- include('partials/header') %>


  <body>
    <%- include('partials/body') %>

      <%- include('partials/footer') %>


        <script>
          window.API_URL = "<%= API_URL %>";
          window.userOwn = '<%= username %>'
        </script>
        <script src="/js/socket_connection.js" type="module"></script>
        <script src="/js/uploadProfile.js"></script>
  </body>

</html>